<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header created with partials</title>
</head>
<body>
    <p> here we are displaying the content of the common file in both index and login hbs the common file is header <div class="hbs"></div></p>
</body>
</html>